/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


body{
    height: 100%;
    line-height: 1;
}

body{
    font-family: Inter;
    color: #5C6965;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main{
    flex: 1 1 auto;
}

[class*="__container"]{
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
  }

  [class*="__title"]{
    font-family: "Inter";
    font-weight: 700;
    font-size: 50px;
    color: #000;
  }

.header {
    position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FBD04A;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;

}
.header__logo {
    z-index: 5;
    padding: 0 80px 0 0;
    align-items: center;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: start;
}

.menu__list {
    display: flex;
    align-items: center;
}
.menu__item {
  margin: 0 42px 0 0;
}
.menu__link {
    font-family: Inter;
    font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #000;
}


.button__header-black {
   color: white;
   display: inline-block;
   text-transform: uppercase;
   font-size: 10px;
   letter-spacing: 1.4px;
   font-weight: 800;
   color: #fcfdfe;
   padding: 21px 24px;
   background-color: #000;
   border-radius: 8px;
   transition: background-color 0.3s ease 0s ;
   z-index: 5;
}

.button:hover{
    background-color: #292929;
}




/*======================================first-block==================================================*/

.first-block{
    background: #FBD04A;
    max-height: 744px;
}
.first-block__container{
    padding: 183px 697px 178px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.first-block-content {
    z-index: 5;
    
}

.first-block-title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 72px;
    color: #000;
    line-height: 130%;
 
}
.first-block-subtitle {
    padding: 22px 0 0 0;
    color: #5C6965;
    font-size: 20px;
}
.first-block-buttons {
    padding: 48px 0 0 0;
    display: flex;
}

.first__block-button {
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.4px;
    font-weight: 800;
    color: #fcfdfe;
    padding: 21px 24px;
    background-color: #000;
    border-radius: 8px;
    transition: background-color 0.3s ease 0s ;
    z-index: 5;

}
.button-video-body{
display: flex;
align-items: center;
margin: 0 0 0 36px;
}
.button-video-text{
    color: #000;
}


.ukraine-border{
    margin: -530px 0px 0px 344px;  
}

/*=============================About us============================================*/

.about-us {
    height: 670px;
    
}
.about-us__container {
    padding: 169px 0 0 0;
    display: flex;
  
}
/*======================================video-block=================================*/
.video-block{
    align-items: center;
    position: relative;
}
.about-us__video  {
    position: relative;
    box-shadow: 0 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  overflow: hidden;
  width: 574px;
  height: 296px;
  z-index: 5;
  
}
.about-us__video iframe{
    position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}

.about-us__decor {
    background-color: #FBD04A99;
    position: absolute;
}
.about-us__decor1 {
width: 455px;
height: 455px;
border-radius: 50%;
top: -80px;
left: 60px;
}

/*======================================about-us-text-content===============================*/

.about-us__content {
    padding: 0 0 0 46px;
}

.about-us__title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 50px;
    color: #000;
    padding: 0 0 38px 0;
}
.about-us__text {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 400;
   max-width: 574px; 
   max-height: 224px;
   padding: 0 0 48px 0;
}
.button-about-us {
background-color: #00966B;
padding: 20px 30px;
color: white;
font-family: "Inter";
font-weight: 600;
font-size: 14px;
text-align: center;
line-height: 1.21%;
border-radius: 8px;
transition: background-color 0.3s ease 0s ;
z-index: 5;
}

.button-about-us:hover{
    background-color: #078964;
}



/*========================================statistics========================================*/

.statistics {
height: 604px;
background-color: rgb(248, 248, 248);
}

.statistics__container{
    padding: 92px 0 0 0;
}
.statistics-title {
    color: #000;
    font-weight: 700;
    font-size: 50px;
    padding: 0 0 50px 0;
}


.statistics-items {
display: flex;
justify-content: center;
gap: 30px;
padding: 0 0 30px 0;
}
.statistic-item {
    align-items: center;
    background: #212224;
    width: 370px;
    height: 140px;  
    border-radius: 15px;
    display: flex;
}
.statistics-item-icon {
    padding: 0 0 0 25px;
}
.statistics-item-content {
   position: relative;
}
.statistics-item-title {
color: #FBD04A;
font-size: 24px;
font-weight: 700;
font-family: "Inter";
line-height: 1.41%;
padding: 0 0 25px 56px;
display: flex;

}
.statistics-item-text {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 0 40px;
}



/**************************************team******************************************/

.team-photo{
    max-width: 370px;
    max-height: 269px;
    border-radius: 30px 30px 0 0;
    align-items: center;
}
.team {
height: 801px;
background-color: rgb(255, 255, 255);
}
.team__container {
    padding: 55px 0 0 0;
}
.team__title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 50px;
    color: #000;
    padding: 0 0 48px 0;
}
.team__items {
    padding: 50px 0px 0 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    min-width: 0

}

.slider {
    gap: 30px;
}
.team__item-container {
    height: 531px;
    width: 370px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 18px rgba(88, 126, 236, 0.18);
    border: solid rgba(0, 0, 0, 0.027);
}

.item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 0.75;
    padding: 20px 15px 0px 15px;
}
.item-discription {
    padding: 15px;
}

.slick-slide {margin: 15px; }


.slick-slider{
    min-width: 0;
}

.slider__item img{
    max-width: 100%;
}


 .slider {
    position: relative;
    padding: 0px 60px; 
}


.slider .slick-arrow{
    position: absolute;
    top: 50%; 
    margin: -15px 0 0 0; 
    z-index: 2;
    font-size: 0; 
    width: 30px; 
    height: 30px; 
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    z-index:5;
  }
  .slider .slick-arrow.slick-prev{
    left: 0; 
    background: url('/img/left-arrow.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
    right: 0;
    background: url('/img/right-arrow.png') 0 0 / 100% no-repeat;
}

.slick-dots li button::before{
    font-size: 8px;
}


/***********************************************Bank-details*********************************/

.bank-details__container {
    height: 464px;
    padding: 50px 0 0 0;
}
.bank-details__title {
    padding: 0px 0 55px 0;
}
.title-center {
    text-align: center;
}
.content-block {
   justify-content: center;
    width: 1051px;
    height: 165px;
    display: flex;
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.2);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
padding:46px 0 0 0;
}
.receiver {
    
    color: #000;
    font-weight: 700;
    padding: 0 96px 0 0;
}
.receiver-title {font-size: 24px;
    padding: 0 0 34px 0;
}
.receiver-text {font-size: 20px;
    
}
.iban {
    
    color: #000;
    font-weight: 700;
    padding: 0 137px 0 0;
}
.iban-title {font-size: 24px;
    padding: 0 0 34px 0;
}
.iban-text {font-size: 20px
}
.erdpou {
    
    color: #000;
    font-weight: 700;
}
.erdpou-title {font-size: 24px;
    padding: 0 0 34px 0;
}
.erdpou-text {font-size: 20px
}

/**********************************************************************/

.report-photo{
    max-width: 370px;
    max-height: 360px;
    border-radius: 30px ;
    align-items: center;
}
.report {
height: 801px;
background-color: rgb(255, 255, 255);
}
.report__container {
    padding: 55px 0 0 0;
}
.report__title {
    font-family: "Inter";
    font-weight: 700;
    font-size: 50px;
    color: #000;
    padding: 0 0 48px 0;
}
.report__items {
    padding: 50px 0px 0 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    min-width: 0

}

.slider_2{
    gap: 30px;
}
.report__item-container {
    height: 370px;
    width: 370px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 18px rgba(88, 126, 236, 0.18);
    border: solid rgba(0, 0, 0, 0.027);
   
}


.slick-slide {margin: 15px; }


.slick-slider{
    min-width: 0;
}

.slider__item img{
    max-width: 100%;
}


 .slider_2 {
    position: relative;
    padding: 0px 60px; 
}


.slider_2 .slick-arrow{
    position: absolute;
    top: 50%; 
    margin: -15px 0 0 0; 
    z-index: 2;
    font-size: 0; 
    width: 30px; 
    height: 30px; 
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    z-index:5;
  }
  .slider_2 .slick-arrow.slick-prev{
    left: 0; 
    background: url('/img/left-arrow.png') 0 0 / 100% no-repeat;
}

.slider_2 .slick-arrow.slick-next{
    right: 0;
    background: url('/img/right-arrow.png') 0 0 / 100% no-repeat;
}

.slick-dots li button::before{
    font-size: 8px;
}



/**************************Help-us**************************************************/


.help-us {
    height: 525px;
}
.help-us__container {
    padding: 40px 0 0 0;
    justify-content: center;
}
.help-us-main {
    justify-content: center;
    width: 1051px;
    height: 400px;
    background-color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    position: relative;
}
.help-us__title {
    padding: 96px 0 0 0;
    text-align: center;
}

.title__white {
    color: #FAFAFA;
}
.help-us-subtitle {
    padding: 25px 0 0 0;
    text-align: center;
    color: #B8BEBD;
    font-size: 18px;
    
}
.help-us-buttons{
    display: flex;
    justify-content: center;
    padding: 54px 0 0 0;
}
.help-us__button {
    background-color: #00966B;
    padding: 30px 45px;
    color: white;
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    line-height: 1.21%;
    border-radius: 8px;
    transition: background-color 0.3s ease 0s ;
    z-index: 5;

    
}



.thin-heading {
    font-weight:700;
    font-size: 30px;
    font-family: "Inter";
    color: #000;
}


.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding: 0;
    border-radius: 0px; }

.form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.btn, .form-control, .custom-select {
    height: 50px; }

.custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.heading {
    color: #888;
    letter-spacing: .05rem;
    text-transform: uppercase;
    font-weight: 400; }

.btn {
    border: none;
    border-radius: 0; }
.btn.btn-primary {
    background: #00966B;
    color: #fff;
    padding: 15px 20px; }
.btn:hover {
    color: #fff; }
.btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        a, a:hover {
          text-decoration: none !important; }
      
      .text-black {
        color: #000; }
      
      .content {
        padding: 7rem 0; }
       
      .col-form-label {
        color: #000; } 
      .box {
        padding: 40px;
        background: #fff;
        -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
        box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08); }
        .box h3 {
          font-size: 14px;
          margin-bottom: 30px;
          text-align: center; }
      
      label.error {
        font-size: 12px;
        color: red; }
      
      #message {
        resize: vertical; }
      
      #form-message-warning, #form-message-success {
        display: none; }
      
      #form-message-warning {
        color: #B90B0B; }
      
      #form-message-success {
        color: #55A44E;
        font-size: 18px;
        font-weight: bold; }
      
      .submitting {
        float: left;
        width: 100%;
        padding: 10px 0;
        display: none;
        font-weight: bold;
        font-size: 12px;
        color: #000; }


.contact__email-form{
    padding: 25px 0 0 0;
    max-width: 551px;
}




/*************************************************/

.contact-buttons {
    display: flex;
  
}

.contact-content{
    display: flex;
align-items: baseline;}
.content-buttons {
    display: flex;
    flex-direction: column;
    padding: 0px 0 0 147px;
    gap: 25px;
}

.content-button{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.contact-info {
    padding: 0px 0 0 120px;
}
.contact-info-title {
    font-size: 30px;
    color: #000;
    font-weight: 400;
}
.contact-info-phone {
    font-size: 18px;
    color: #000;
    padding: 25px 0 0 0;
}
.contact-info-email {
    padding: 25px 0 0 0;
    font-size: 18px;
    color: #000;
}



/********************************************Adaptive-header***************************************/



  @media(max-width: 1086.98px){
    [class*="__container"]{
      max-width: 970px;
    }
  }

  @media(max-width: 991.99px){
    [class*="__container"]{
      max-width: 750px;
    }
    .about-us{
        height: 900px;
    }
    .video-block{
        margin: 0 auto;
    }
    .about-us__content{
        padding: 50px 0 0 0;
    }
    .about-us__decor{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        top: -50px;
    }

    .about-us__container{
        display: flex;
        flex-direction: column;
    }

    .statistics{
        height: 1300px;
    }
    .statistics-items{
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        gap: 0px;
    }
    .item-column-3{
        flex-direction: column;
        margin: 0 auto;
    }
    .item-column-1{
        margin: 0 auto;
    }
    .item-column-2{
        margin: 0 auto;
    }
    .statistics-title{
        text-align: center;
    }
    
    .team-photo{
        width: 280px;
    }

    .report{
        height: 600px;
    }
    .report-photo{
        width: 180px;
        border-radius: 15px;
    }
    .report__item{
        height: 230px;
    }

    .bank-details__container{
        height: 800px;
    }
    .content-block{
      width: 600px;
      flex-direction: column;
      height: 400px;
      justify-content: start;
      gap: 40px;
      text-align: center;
      margin: 0 auto;
    }
   .receiver-text{
       padding: 0 ;
   }
   .iban{
       padding: 0;
   }
   .receiver{
       padding: 0
   }
    .receiver-title{
    padding: 0 0 15px 0;
    }
.help-us-main{
    align-items: center;
    margin: 0 auto;
    width: 800px;
}
  
  }

  @media(max-width: 767.98px){
    [class*="__container"]{
      max-width: none;
    }
    .menu__list{
        display: none;
    }
    .first-block-title{
        font-size: 50px;
    }
    .report{
        height: 500px;
    }
    .report__container{
        padding: 0 0 0 0;
    }
    .help-us-main{
        width: 450px;   
    }

    .first-block{
        height: 900px;
    }

  }
